<md-sidenav md-is-locked-open="$media('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">
            <a ng-href="#/home" layout="row" flex>
                <md-icon md-svg-icon="logo" class="logo"></md-icon>
                <div class="docs-logotype">Hunde Fern-Uni</div>
            </a>
        </h1>
    </md-toolbar>
    <md-toolbar class="md-hue-1">
        <h2 class="md-toolbar-tools" style="margin: auto; width: initial;">NAVIGATION</h2>
    </md-toolbar>

    <md-list>
        <md-item ng-repeat="it in cl.navItems">
            <md-button ng-click="cl.selectNav(it)" ng-class="{
                'selected' : it === cl.selected }">
                <md-icon md-svg-icon="courses" class="avatar"></md-icon>
                {{it.name}}
            </md-button>
        </md-item>
    </md-list>
</md-sidenav>
<div layout="column" flex>
    <md-toolbar layout="row">
        <md-button class="menu" hide-gt-sm  aria-label="Show Menu">
            <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h1>Kurse</h1>
        
        <md-button class="loginButton md-raised md-primary md-hue-1" ng-href="#/login?returnTo=courses">
            <div style="margin-top: 5px;" ng-controller="LoginController as lctl">
                <md-icon  md-svg-icon="login" ></md-icon> {{lctl.message}}
            </div>
        </md-button>
        
    </md-toolbar>

    <md-content layout="column" flex layout-fill class="md-padding" style="background-color: #ececec;">
        <div flex layout-align="center center" layout-fill >
            <div flex ng-hide="cl.loaded" class="cardContent">
                <center>
                    <md-progress-circular style="margin-top: 40px;" md-mode="indeterminate"></md-progress-circular>
                </center>
            </div>
            <md-card class="cardContent" ng-repeat="it in cl.courses">
                <md-card-content>
                    <div layout="row" layout-margin layout-fill layout-padding >
                        <div class="cardImageContainer">
                            <img src="{{it.img}}" class="cardImage" alt="{{it.name}}">
                        </div>
                        <div>
                            <div layout="row">
                                <md-button ng-disabled="{{!cl.isAvailable(it)}}" ng-href="#/courseDetail/{{it.resource}}" flex><h2>{{it.name}}</h2></md-button>
                                <div class="label">LEKTION</div>
                            </div>
                            <p>
                                {{it.description}}
                            </p>
                            <div layout="row" layout-align="end center">
                                <div>
                                    <md-button ng-disabled="{{!cl.isAvailable(it)}}" ng-href="#/courseDetail/{{it.resource}}">mehr ...</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>

