<div flex layout-align="center center" layout-fill >
    <div flex ng-hide="cl.loaded" class="cardContent">
        <center>
            <md-progress-circular style="margin-top: 40px;" md-mode="indeterminate"></md-progress-circular>
        </center>
    </div>
    <md-card class="cardContent" ng-repeat="it in cl.courses">
        <md-card-content>
            <div layout="row" layout-margin layout-fill layout-padding >
                <div class="cardImageContainer">
                    <img src="{{it.img}}" class="cardImage" alt="{{it.name}}">
                </div>
                <div>
                    <div layout="row">
                        <md-button 
                            ng-disabled="{{!cl.isAvailable(it)}}" 
                            ng-href="#/courseDetail/{{it.resource}}"
                            class="title-button" 
                            flex><h2>{{it.name}}</h2>
                        </md-button>
                        <div class="label">LEKTION</div>
                    </div>
                    <p>
                        {{it.description}}
                    </p>
                    <div layout="row" layout-align="end center">
                        <div>
                            <md-button ng-disabled="{{!cl.isAvailable(it)}}" ng-href="#/courseDetail/{{it.resource}}">mehr ...</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>