html, body {
    height:100%;
    margin: 0px;
    padding: 0px;
}

.login {
    margin-top: 50px;
    width: 200px;
    height: 60px;
}

p{
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}

/* Toolbar area */

.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

md-toolbar h1 {
    margin: auto;
}

/* Sidenav area */

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}
md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
}


/* Primary content area */

#content {
    overflow: hidden;
}

#content  {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

#content .md-button.share {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 25px;
}

#content md-icon.avatar {
    margin-top: 10px;
}

#content .md-button.share > md-icon {
    fill:black;
    width:36px;
    height:36px;
}

md-button.menuBtn > md-icon {
    fill:white;
    width:24px;
    height:24px;
}

#content .md-button.share:active > md-icon {
    background-color: #dadada;
    border-radius: 75%;
    padding:4px;
    transition: all 100ms ease-out 30ms;
}

/*#content img {
  display: block;
  height: auto;
  max-width: 500px;
}*/

/* Utils */

.content-wrapper {
    position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
}

.avatar {
    position: relative;
    width: 90px;
    height: 90px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom:0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform:scale(0.70);
}

.cardImage{
    position: relative;
    border: 1px solid #ddd;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    transform: translateZ(0);

    width: 150px;
}

.cardImageContainer{
    min-width: 170px;
}

.cardContent{
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 16px;

}

.cardContent title-button{
    width: 100%;
    min-height: 3em;
    text-align: left;

}

md-card{
    background-color: white;
}
md-bottom-sheet  md-icon {
    margin-right:20px;
}

span.name {
    font-weight: bold;
    font-size:1.1em;
    padding-left:5px;
}

md-card {
    margin-bottom: 6px;

}

#content{
    background: #ececec;
    background-color: #ececec;
}

.gray{
    background: #ececec;
    background-color: #ececec; 
}


body{
    background: #ececec;
}

.label {
    bottom: 5px;
    left: 7px;
    color: #ccc;
    font-size: 14px;
}

.docs-logotype{
    line-height: 50px;
    text-indent: 15px;
    font-weight: bolder;
}

.logo{
    width : 50px;
    height : 50px;
    margin: inherit;
}

.sub-tool{
    margin: auto;
    width: auto;
}

.text-image-container { 
    position: relative; 
}

.text-image-container img{
    width:100%;
    /*-webkit-filter: blur(2px);
    filter: blur(2px);*/
}

.cardtitle { 
    position: absolute; 
    bottom:0px;
    padding: 15px; 
    color: white;
    margin-left:15px;
    margin-right:15px;
    width: 90%;
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.5);
}

.loginButton{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.docs-menu li.parentActive,
.docs-menu li.parentActive .menu-toggle-list {
  background-color: #f6f6f6;
}
.menu-toggle-list {
  background: #fff;
  max-height: 1300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 1s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 1s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 1s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}
.menu-toggle-list.ng-hide {
  max-height: 0;
}
.docs-menu .menu-toggle-list a.md-button {
  display: block;
  font-weight: 400;
  padding: 0 16px 0 32px;
  text-transform: none;
}
.md-toggle-icon {
  display: block;
  margin-left: auto;
  speak: none;
  vertical-align: middle;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.md-toggle-icon.toggled {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
      zoom:1.2;
    transform: translateZ(0);
    -webkit-transform: scale(1.20);
    -moz-transform:scale(1.20);
}

.sub-menu{
    list-style: none; 
    padding: 0; 
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
    background-color: #ffffff;
}

.sub-menu-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

.ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -70px;
  top: 40px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
  z-index: 99;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
  font-size: 25px;
}

.disabled{
    color: #999;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}