<div>
    <md-card class="cardContent" ng-hide="!cd.loaded">
        <md-card-content style="padding: 24px;">
            <div class="ribbon" ng-hide="cd.isAccessible()">
                <a href="#">Vorschau</a>
            </div>
            <div layout="row" ng-if="cd.isAdmin()" flex>
                <md-switch ng-model="cd.editMode" aria-label="Editiermodus" ng-change="cd.editModeChanged()">Editiermodus</md-switch>
                <span flex></span>
            </div>
            <div class="text-image-container">
                <img src="{{cd.selected.headerImg}}" alt="" />
                <h2 ng-if="!cd.editMode" class="cardtitle">{{ :: cd.selected.headerTitle}}</h2>
                <md-input-container ng-if="cd.editMode">
                    <label>Titel</label>
                    <input ng-model="cd.selected.headerTitle">
                </md-input-container>
            </div>
            <div ng-if="cd.editMode" text-angular ng-model="cd.selected.content"></div>
            <div ng-if="!cd.editMode" ta-bind ng-model="cd.selected.content"></div>
            <md-tabs ng-hide="cd.editMode" md-selected="selectedIndex" md-dynamic-height md-border-bottom>
                <md-tab>
                    <!-- ___________ COMMENTS section ___________ -->
                    <md-tab-label>
                        <md-icon md-svg-icon="comment"></md-icon>
                        <span>Kommentare</span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content layout="column" flex layout-margin ng-controller="CommentsController as commentsCtl">
                            <md-list>
                                <md-list-item class="md-2-line" ng-repeat="c in commentsCtl.comments track by $index">
                                    <md-icon md-svg-icon="username"></md-icon>
                                    <div class="md-list-item-text">
                                        <h3>{{ :: c.userName }}</h3> <span am-time-ago="c.creationDate"></span>
                                        <p>{{ :: c.comment }}</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                            <div layout="row" style="min-height: 120px;" layout-margin>
                                <md-input-container flex>
                                    <label>Kommentar</label>
                                    <textarea md-maxlength="600" rows="3" ng-model="commentsCtl.comment"></textarea>
                                </md-input-container>
                                <div>
                                    <md-button class="md-raised" ng-click="commentsCtl.addComment()">
                                        <md-icon md-svg-icon="comment"></md-icon>senden</md-button>
                                </div>
                            </div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <!-- ___________ DOWNLOADS section ___________ -->
                    <md-tab-label>
                        <md-icon md-svg-icon="attachment"></md-icon>
                        <span>Downloads</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div style="min-height: 200px;">
                            <md-list>
                                <md-item ng-repeat="download in cd.selected.downloads track by $index">
                                    <md-item-content style="padding-left: 32px;">
                                        <div class="md-tile-left">
                                            <a ng-href="{{download.url}}"><md-icon md-svg-icon="download"></md-icon></a>
                                        </div>
                                        <div class="md-tile-content">
                                            <a ng-href="{{download.url}}"><h3>{{ :: download.name}}</h3></a>
                                            <p>{{ :: download.description}}</p>
                                        </div>
                                    </md-item-content>
                                </md-item>
                            </md-list>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab ng-show="cd.user.isAdmin">
                    <!-- ___________ ACCESS section ___________ -->
                    <md-tab-label>
                        <md-icon md-svg-icon="access"></md-icon>
                        <span>Freigabe</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div layout="column" style="min-height: 200px;" ng-controller="AccessController
                                        as ctrl">
                            <md-input-container>
                                <label>Filter</label>
                                <input ng-model="filterText">
                            </md-input-container>
                            <div layout="row" layout-margin>
                                <div style="min-height: 400px; max-height: 400px; overflow: scroll;" flex>
                                    <table style="margin-left: 20px;">
                                        <tr ng-repeat="user in ctrl.getGrantedUsers(cd.selected.id) track by $index | orderBy:'userName' | filter:filterText">
                                            <td>
                                                <md-switch aria-label="switch" ng-model="user.access"></md-switch>
                                            </td>
                                            <td>
                                                <md-icon md-svg-icon="user"></md-icon>
                                                <span layout-margin style="width:200px;">{{user.user.username}}</span>
                                            </td>
                                            <td>
                                                <span ng-if="user.access">freigegeben</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>
</div>